/* https://flexbox.help/   */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: rgb(144, 144, 144);
}
body {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: white;
  width: 70%;
  text-align: center;
  /* line-height: 2; */

  margin: 0 auto; /* Alinear documento verticalmente*/
}
h1 {
  font-size: 35px;
}
h2 {
  font-size: 20px;
}
p {
  font-size: 20px;
}
.container {
  border: 8px solid red;
}
.container-item {
  border: 8px solid blue;
  margin: 5px;
  padding: 3px;
}

/*  flex-direction */
.flex {
  display: flex;
}

.rs {
  flex-direction: row-reverse;
}

.c {
  flex-direction: column;
}

.cr {
  flex-direction: column-reverse;
}
.Ejemplo2 {
  border: 8px solid red;
}
.e2-item {
  margin: 0px;
  padding: 0px;
  background-color: blue;
  margin: 5px;

  width: 65px;
  height: 65px;
  text-align: center;
}

/*  flex-wrap  */
.flex-wrap {
  flex-wrap: wrap;
  border: 8px solid red;
}

.flex-nowrap {
  flex-wrap: nowrap;
  border: 8px solid red;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
  border: 8px solid red;
}
.wrap-item {
  background-color: blue;
  margin: 5px;
  width: 100px;
  height: 100px;
}
/*  */
.justity {
  border: 8px solid red;
  /* justify-content: flex-start; */
}

.justity-flex-end {
  border: 8px solid red;
  justify-content: flex-end;
}

.justity-flex-center {
  border: 8px solid red;
  justify-content: center;
}

.justity-flex-sb {
  border: 8px solid red;
  justify-content: space-between;
}

.justity-flex-sa {
  border: 8px solid red;
  justify-content: space-around;
}

.justity-flex-se {
  border: 8px solid red;
  justify-content: space-evenly;
}

.order {
  /* align-content: center; */
  border: 8px solid red;
}
/* order */
.or-item:nth-child(1) {
  background-color: blue;
  margin: 5px;
  width: 100px;
  height: 100px;
  order: 2;
}

.or-item:nth-child(2) {
  background-color: green;
  margin: 5px;
  width: 100px;
  height: 100px;
  order: 3;
}

.or-item:nth-child(3) {
  background-color: goldenrod;
  margin: 5px;
  width: 100px;
  height: 100px;
  order: 1;
}

.or-item:nth-child(4) {
  background-color: purple;
  margin: 5px;
  width: 100px;
  height: 100px;
  order: 5;
}

.or-item:nth-child(5) {
  background-color: saddlebrown;
  margin: 5px;
  width: 100px;
  height: 100px;
  order: 4;
}

.flex-grow {
  display: flex;
  border: red solid 8px;
  margin: 5px;
}
.flex-grow-item {
  background-color: blue;
  height: 100px;
  width: 100px;
  margin: 5px;
}
/* Primer elemento  */
.flex-grow-item:nth-of-type(1) {
  flex-grow: 0; /* Valor por defecto */
}
/* Segundo Elemento */
.flex-grow-item:nth-of-type(2) {
  flex-grow: 1;
}
/* Tercer elemento */
.flex-grow-item:nth-of-type(3) {
  flex-grow: 2;
}

.flex-shrink {
  display: flex;
  border: red solid 8px;
  margin: 5px;
}
.flex-shrink-item {
  background-color: blue;

  margin: 5px;
  flex-grow: 1;
}

.shrink1 {
  flex-grow: 0;
  flex-shrink: 0;
}

.shrink2 {
}
